<div style="text-align: right"> Tommy Evans-Barton </div>
<div style="text-align: right"> WR Year 2 Jumps </div>

# ETL Notebook

In [1]:
import os
import sys
import pandas as pd
import numpy as np
import json
import requests
from bs4 import BeautifulSoup

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
TOP_PATH = os.environ['PWD']

In [4]:
sys.path.append(TOP_PATH + '/src')
sys.path.append(TOP_PATH + '/src/upload_data')

In [9]:
import etl
import etl_upload_data as eud

In [ ]:
with open(TOP_PATH + '/config/data-params.json') as fh:
    data_cfg = json.load(fh)

In [ ]:
#etl.get_data(**data_cfg)

In [43]:
pd.read_csv(TOP_PATH + '/data/raw/RECEIVERS.csv')

In [ ]:
pd.read_csv(TOP_PATH + '/data/raw/REC_STATS.csv')

In [ ]:
pd.read_csv(TOP_PATH + '/data/raw/ADV_REC_STATS.csv')

In [53]:
pd.read_csv(TOP_PATH + '/data/upload/2020_FA_WR.csv')

     Unnamed: 0            Player From   To
0             0      Randall Cobb  DAL  HOU
1             1  Emmanuel Sanders  SFO  NOR
2             2    Robby Anderson  NYJ  CAR
3             3  Breshad Perriman  TAM  NYJ
4             4      Seth Roberts  BAL  CAR
..          ...               ...  ...  ...
102         102      Reggie White  NYG  TBD
103         103         Tim White  NOR  TBD
104         104      Keon Hatcher  NYJ  TBD
105         105     Charone Peake  JAX  TBD
106         106      Todd Rahming  MIA  TBD

[107 rows x 4 columns]