In [5]:
import os
import sys
import pandas as pd
import numpy as np
import json

In [6]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
TOP_PATH = os.environ['PWD']

In [9]:
sys.path.append(TOP_PATH + '/src')

In [10]:
import etl

In [51]:
with open(TOP_PATH + '/config/data-params.json') as fh:
    data_cfg = json.load(fh)

In [64]:
etl.get_data(**data_cfg)

In [65]:
pd.read_csv(TOP_PATH + '/data/raw/RECEIVERS_2015.csv')

    Rnd  Pick   Tm                Player Pos  Age  YEAR
0     1     4  OAK          Amari Cooper  WR   21  2015
1     1     7  CHI           Kevin White  WR   23  2015
2     1    14  MIA        DeVante Parker  WR   22  2015
3     1    20  PHI        Nelson Agholor  WR   22  2015
4     1    26  BAL      Breshad Perriman  WR   21  2015
5     1    29  IND       Phillip Dorsett  WR   22  2015
6     2    37  NYJ           Devin Smith  WR   23  2015
7     2    40  TEN  Dorial Green-Beckham  WR   22  2015
8     3    69  SEA         Tyler Lockett  WR   22  2015
9     3    70  HOU         Jaelen Strong  WR   21  2015
10    3    76  KAN          Chris Conley  WR   22  2015
11    3    87  PIT         Sammie Coates  WR   22  2015
12    3    94  GNB         Ty Montgomery  WR   22  2015

In [67]:
pd.read_csv(TOP_PATH + '/data/raw/REC_STATS_2015.csv')

,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
0,Antonio Brown *+,PIT,27,WR,16,16,193,136,70.5%,1834,13.5,10,84,59,9.5,8.5,114.6,3
1,Julio Jones *+,ATL,26,WR,16,16,203,136,67.0%,1871,13.8,8,93,70,9.2,8.5,116.9,3
2,DeAndre Hopkins*,HOU,23,WR,16,16,192,111,57.8%,1521,13.7,11,83,61,7.9,6.9,95.1,1
3,Jarvis Landry*,MIA,23,WR,16,14,166,110,66.3%,1157,10.5,4,60,50,7.0,6.9,72.3,1
4,Larry Fitzgerald*,ARI,32,WR,16,16,145,109,75.2%,1215,11.1,9,65,44,8.4,6.8,75.9,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Andrew Hawkins,CLE,29,WR,8,8,43,27,62.8%,276,10.2,0,11,25,6.4,3.4,34.5,1
65,Kenny Stills,MIA,23,WR,16,8,63,27,42.9%,440,16.3,3,18,47,7.0,1.7,27.5,0
66,Keshawn Martin,NWE,25,WR,9,8,37,24,64.9%,269,11.2,2,14,39,7.3,2.7,29.9,1
67,Nelson Agholor,PHI,22,WR,13,12,44,23,52.3%,283,12.3,1,11,53,6.4,1.8,21.8,1
68,Riley Cooper,PHI,28,WR,16,13,41,21,51.2%,327,15.6,2,15,62,8.0,1.3,20.4,0

In [68]:
pd.read_csv(TOP_PATH + '/data/raw/ADV_REC_STATS_2015.csv')

          Player Team  DYAR   YAR    DVOA     VOA Passes Yards  EYds    DPI
0        A.Brown  PIT   517   490   19.7%   18.0%    193  1841  2061  7/196
1      D.Baldwin  SEA   414   391   39.6%   36.7%    103  1069  1253    0/0
2      A.J.Green  CIN   414   403   26.5%   25.5%    132  1297  1471   1/22
3   L.Fitzgerald  ARI   363   356   18.9%   18.3%    146  1215  1471   5/38
4       Jo.Brown  ARI   352   345   29.9%   29.1%    101  1003  1192  5/136
..           ...  ...   ...   ...     ...     ...    ...   ...   ...    ...
87      C.Givens  2TM   -70   -70  -29.8%  -29.9%     54   353   230    0/0
88       E.Royal  CHI   -81   -83  -34.0%  -34.4%     50   238   189   1/12
89      D.Bryant  DAL   -86   -88  -26.8%  -27.1%     72   401   370   4/32
90       D.Adams   GB  -109  -131  -27.8%  -31.0%     94   495   424    0/0
91      T.Austin  STL  -122  -122  -30.6%  -30.6%     88   484   374    0/0

[92 rows x 10 columns]