<div style="text-align: right"> Tommy Evans-Barton </div>
<div style="text-align: right"> WR Year 2 Jumps </div>

# ETL Notebook

This notebook holds the code to create the dataframes that we will be working with in the following notebooks.

In [1]:
import os
import sys
import pandas as pd
import numpy as np
import json
import requests
from bs4 import BeautifulSoup

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
TOP_PATH = os.environ['PWD']

In [4]:
sys.path.append(TOP_PATH + '/src')
sys.path.append(TOP_PATH + '/src/upload_data')

In [5]:
import etl
import etl_upload_data as eud

In [8]:
with open(TOP_PATH + '/config/data-params.json') as fh:
    data_cfg = json.load(fh)

In [9]:
#etl.get_data(**data_cfg)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:3946: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

In [6]:
#eud.clean_download_upload_data()

In [10]:
pd.read_csv(TOP_PATH + '/data/raw/RECEIVERS.csv')

     Rnd  Pick   Tm           Player Pos  Age  YEAR
0      1     3  CLE  Braylon Edwards  WR   22  2005
1      1     7  MIN  Troy Williamson  WR   22  2005
2      1    10  DET    Mike Williams  WR   21  2005
3      1    21  JAX       Matt Jones  WR   22  2005
4      1    22  BAL     Mark Clayton  WR   23  2005
..   ...   ...  ...              ...  ..  ...   ...
188    2    64  SEA     D.K. Metcalf  WR   21  2019
189    3    66  PIT  Diontae Johnson  WR   23  2019
190    3    67  SFO       Jalen Hurd  WR   23  2019
191    3    76  WAS   Terry McLaurin  WR   23  2019
192    3    93  BAL     Miles Boykin  WR   22  2019

[193 rows x 7 columns]

In [11]:
pd.read_csv(TOP_PATH + '/data/raw/REC_STATS.csv')

,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb,YEAR
0,Larry Fitzgerald*,ARI,22,WR,16,16,165.0,103,62.4%,1409,13.7,10,68,47,8.5,6.4,88.1,0,2005
1,Steve Smith*+,CAR,26,WR,16,16,150.0,103,68.7%,1563,15.2,12,72,80,10.4,6.4,97.7,2,2005
2,Anquan Boldin,ARI,25,WR,14,14,171.0,102,59.6%,1402,13.7,7,69,54,8.2,7.3,100.1,2,2005
3,Torry Holt*,STL,29,WR,14,14,163.0,102,62.6%,1331,13.0,9,63,44,8.2,7.3,95.1,2,2005
4,Chad Johnson *+,CIN,27,WR,16,16,155.0,97,62.6%,1432,14.8,9,74,70,9.2,6.1,89.5,1,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4819,Jordan Thomas,HOU,23,NaN,5,2,3.0,1,33.3%,8,8.0,0,0,8,2.7,0.2,1.6,0,2019
4820,Eric Tomlinson,3TM,27,NaN,8,3,1.0,1,100.0%,1,1.0,0,0,1,1.0,0.1,0.1,0,2019
4821,John Ursua,SEA,25,NaN,3,0,1.0,1,100.0%,11,11.0,0,1,11,11.0,0.3,3.7,0,2019
4822,Dwayne Washington,NOR,25,NaN,16,0,1.0,1,100.0%,6,6.0,0,0,6,6.0,0.1,0.4,0,2019
4823,Kerrith Whyte Jr,PIT,23,NaN,6,0,1.0,1,100.0%,9,9.0,0,1,9,9.0,0.2,1.5,0,2019

In [12]:
pd.read_csv(TOP_PATH + '/data/raw/ADV_REC_STATS.csv')

          Player Team  DYAR  YAR    DVOA     VOA  EYds    DPI  YEAR
0        S.Smith  CAR   502  508   29.0%   29.6%  1720   2/44  2005
1      C.Johnson  CIN   415  412   19.9%   19.7%  1648   3/58  2005
2         S.Moss  WAS   402  390   25.6%   24.4%  1450   4/51  2005
3       D.Driver   GB   355  323   17.1%   14.4%  1496  6/175  2005
4     E.Kennison   KC   343  343   27.6%   27.7%  1199   3/67  2005
...          ...  ...   ...  ...     ...     ...   ...    ...   ...
2272  T.Benjamin  LAC   -84  -87  -78.9%  -81.5%   -21    0/0  2019
2273     Z.Jones  2TM   -91  -92  -38.6%  -39.0%   151    1/9  2019
2274  P.Campbell  IND  -104  -88  -73.4%  -64.4%   -14    0/0  2019
2275   K.Johnson  ARI  -105 -103  -45.6%  -44.8%   105    0/0  2019
2276     T.Quinn  WAS  -118 -126  -44.8%  -46.9%   125    0/0  2019

[2277 rows x 9 columns]

In [13]:
pd.read_csv(TOP_PATH + '/data/upload/2020_FA_WR.csv')

               Player Pos   Tm  YEAR
0        Randall Cobb  WR  HOU  2020
1    Emmanuel Sanders  WR  NOR  2020
2      Robby Anderson  WR  CAR  2020
3    Breshad Perriman  WR  NYJ  2020
4        Seth Roberts  WR  CAR  2020
..                ...  ..  ...   ...
101         Tim White  WR  TBD  2020
102      Keon Hatcher  WR  TBD  2020
103     Charone Peake  WR  TBD  2020
104        Tony Brown  WR  TBD  2020
105      Todd Rahming  WR  TBD  2020

[106 rows x 4 columns]