<div style="text-align: right"> Tommy Evans-Barton </div>
<div style="text-align: right"> WR Year 2 Jumps </div>

# ETL Notebook

In [1]:
import os
import sys
import pandas as pd
import numpy as np
import json
import requests
from bs4 import BeautifulSoup

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
TOP_PATH = os.environ['PWD']

In [17]:
sys.path.append(TOP_PATH + '/src')
sys.path.append(TOP_PATH + '/src/upload_data')

In [19]:
import etl
import etl_upload_data as eud

In [ ]:
with open(TOP_PATH + '/config/data-params.json') as fh:
    data_cfg = json.load(fh)

In [ ]:
#etl.get_data(**data_cfg)

In [ ]:
pd.read_csv(TOP_PATH + '/data/raw/RECEIVERS.csv')

In [ ]:
pd.read_csv(TOP_PATH + '/data/raw/REC_STATS.csv')

In [ ]:
pd.read_csv(TOP_PATH + '/data/raw/ADV_REC_STATS.csv')

In [14]:
df = pd.DataFrame(full_list)

In [54]:
df = eud.get_upload_data()

In [55]:
players = df['Player']

In [56]:
players = players.str.replace(' Jr', '')

In [57]:
cap_ind = [[i for i, c in enumerate(s) if c.isupper()] for s in players]

In [58]:
cap_ind

[[0, 4, 12],
 [0, 7, 16],
 [0, 8, 14],
 [0, 8, 16],
 [0, 7, 12],
 [0, 8, 14],
 [0, 8, 17],
 [0, 5, 11],
 [0, 4, 12],
 [0, 6, 13],
 [0, 7, 13],
 [0, 8, 15],
 [0, 3, 11],
 [0, 7, 16],
 [0, 5, 12],
 [0, 7, 12],
 [0, 7, 15],
 [0, 7, 14],
 [0, 6, 12],
 [0, 6, 11],
 [0, 2, 8, 15, 17],
 [0, 8, 15],
 [0, 6, 14],
 [0, 7, 15],
 [0, 9, 16],
 [0, 6, 11],
 [0, 4, 11],
 [0, 7, 14],
 [0, 5, 7, 14],
 [0, 8, 14],
 [0, 6, 12],
 [0, 5, 12],
 [0, 8, 14],
 [0, 6, 12],
 [0, 8, 15],
 [0, 2, 7, 11, 15, 17],
 [0, 5, 11],
 [0, 5, 14],
 [0, 4, 11],
 [0, 5, 11],
 [0, 6, 12],
 [0, 6, 12],
 [0, 5, 15],
 [0, 6, 12],
 [0, 10, 14],
 [0, 7, 13],
 [0, 6, 15],
 [0, 6, 12],
 [0, 6, 10],
 [0, 6, 12],
 [0, 7, 14],
 [0, 6, 14],
 [0, 5, 11],
 [0, 5, 9],
 [0, 8, 14],
 [0, 6, 12],
 [0, 6, 10],
 [0, 6, 13],
 [0, 6, 11],
 [0, 6, 11],
 [0, 5, 11],
 [0, 7, 12],
 [0, 7, 14],
 [0, 5, 9, 13, 18],
 [0, 5, 11],
 [0, 7, 13],
 [0, 7, 13],
 [0, 8, 16, 23, 31],
 [0, 8, 15],
 [0, 6, 13],
 [0, 5, 13],
 [0, 9, 16],
 [0, 7, 13],
 [0, 5, 11],
 [0, 9, 15],
 [0, 5, 10],
 [0, 6, 12],
 [0, 6, 9, 15],
 [0, 4, 11],
 [0, 8, 15],
 [0, 6, 10],
 [0, 2, 8, 14, 16],
 [0, 6, 10],
 [0, 5, 9],
 [0, 5, 11],
 [0, 5, 9],
 [0, 8, 12],
 [0, 6, 13],
 [0, 9, 14],
 [0, 4, 9],
 [0, 8, 13],
 [0, 6, 12],
 [0, 7, 13],
 [0, 7, 14],
 [0, 7, 11],
 [0, 6, 10],
 [0, 11, 16],
 [0, 9, 14],
 [0, 6, 14],
 [0, 6, 11],
 [0, 6, 9],
 [0, 5, 7, 14],
 [0, 5, 8],
 [0, 7, 11],
 [0, 5, 12],
 [0, 7, 11]]

In [59]:
players = [players[i][cap_ind[i][-2]:] for i in range(len(cap_ind))]

In [60]:
players

['Randall Cobb',
 'Emmanuel Sanders',
 'Robby Anderson',
 'Breshad Perriman',
 'Seth Roberts',
 'Devin Funchess',
 'Demarcus Robinson',
 'Chris Moore',
 'Damiere Byrd',
 'Pharoh Cooper',
 'Corey Coleman',
 'Travis Benjamin',
 'Marqise Lee',
 'Geronimo Allison',
 'Geremy Davis',
 'Cody Latimer',
 'Phillip Dorsett',
 'Nelson Agholor',
 'Tajae Sharpe',
 'Jojo Natson',
 'McKenzie',
 'Darius Jennings',
 'Chester Rogers',
 'Rashard Higgins',
 'Laquon Treadwell',
 'Mike Thomas',
 'Austin Carr',
 'Marcus Johnson',
 'Andrew White',
 'Keith Kirkwood',
 'Malik Turner',
 'Trevor Davis',
 'Dylan Cantrell',
 'Terry Godwin',
 'Bryant Mitchell',
 'McCloud',
 'Jaron Brown',
 'Krishawn Hogan',
 'Marcus Kemp',
 'Chris Hogan',
 'Tavon Austin',
 'Andre Patton',
 'Dontrelle Inman',
 'QuincyEnunwa',
 'PaulRichardson',
 'TaylorGabriel',
 'DemaryiusThomas',
 'JariusWright',
 'JoshGordon',
 'DwayneHarris',
 'RussellShepard',
 'JermaineKearse',
 'JustinHardy',
 'RyanGrant',
 'JordanMatthews',
 'JohnnyHolton',
 'JoshMalone',
 'SheltonGibson',
 'LanceLenoir',
 'AhmadThomas',
 'FeltonDavis',
 'SteveIshmael',
 'SpencerSchnell',
 'Etta-Tawo',
 'DavionDavis',
 'TaquanMizzell',
 'GeorgeMariner',
 'Ratliff-Williams',
 'JermiahBraswell',
 'MauriceHarris',
 'TommyleeLewis',
 'QuadreeHenderson',
 'RashadMedaris',
 'RodneyAdams',
 'DamionJeanpiere',
 'MalikHenry',
 'TravisJonsen',
 'VontaeHights',
 'BrandonPolk',
 'TrevionThompson',
 'AlexWesley',
 'McKnight',
 'NickEasley',
 'SeanRiley',
 'IsaiahZuber',
 'CodyWhite',
 'KyleWilliams',
 'MichaelDereus',
 'AndreBaccellia',
 'AlevaHifo',
 'RiverCracraft',
 'MarkenMichel',
 'BralonAddison',
 'DarrellStewart',
 'SeanModster',
 'GregDortch',
 'ShaneLeatherbury',
 'SaeedBlacknall',
 'KendrickRogers',
 'DevinPhelps',
 'BugHoward',
 'Reggie White',
 'TimWhite',
 'KeonHatcher',
 'CharonePeake',
 'ToddRahming']

In [61]:
df['Player'] = players

In [62]:
df

               Player Pos From   To
0        Randall Cobb  WR  DAL  HOU
1    Emmanuel Sanders  WR   SF   NO
2      Robby Anderson  WR  NYJ  CAR
3    Breshad Perriman  WR   TB  NYJ
4        Seth Roberts  WR  BAL  CAR
..                ...  ..  ...  ...
101      Reggie White  WR  NYG  TBD
102          TimWhite  WR   NO  TBD
103       KeonHatcher  WR  NYJ  TBD
104      CharonePeake  WR  JAC  TBD
105       ToddRahming  WR  MIA  TBD

[106 rows x 4 columns]